.container {
    width: 100%;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
}
.container main {
    font-family: 'Roboto', sans-serif;
    max-width: 800px;
    box-shadow: 0 0 6px rgb(0 0 0 / 40%);
    padding: 20px;
    border: 1px solid #999;
}